/* This is the CSS File of this Project */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --nav-text-color: #5a66ff;
    --nav-bg: #e0e7fe;
    --secondary-text-color: #0a0aa7;
    --main-text-color: #47484e;
    --button-color: #5a66ff;
    --button-hover: #0a0aa7;
    
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto Slab', serif;
}

p {
    font-family: 'Roboto Slab', serif;
    line-height: 1.4rem;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.flex {
    display: flex;
    align-items: center;
}

.container {
    max-width: 1100px;
    margin: auto;
    overflow: hidden;
}

nav {
    color: var(--nav-text-color);
    background-color: var(--nav-bg);
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    font-weight: 500;
    z-index: 10;
}

.navbar {
    justify-content: space-between;
}

.navbar img {
    width: 60px;
    height: 50px;
    margin-top: 5px;
}

.nav-links ul {
    gap: 50px;
}

.hover-links:hover {
    cursor: pointer;
    color: var(--secondary-text-color);
}

.hover-links:active {   
    /* active mtlb, jb bhi click krenge tb ye colour ayega */
    color: red;
}

.hover-links.active {
    color: var(--primary-text-color);
    background-color: #a1a1a169;
    padding: 3px 5px;
    border-radius: 8px;
}

.search {
    height: 28px;
    gap: 10px;
}

.search-input {
    font-family: 'Roboto Slab', serif;
    height: 100%;
    width: 180px;
    padding: 4px 20px;
    border-radius: 7px;
    border: none;
    outline: none;
}

.search-button {
    font-family: 'Roboto Slab', serif;
    background-color: var(--button-color);
    color: aliceblue;
    width: 80px;
    padding: 5px;
    border-radius: 7px;
    border: none;
}

.search-button:hover {
    background-color: var(--button-hover);
    color: white;
}

.search-button:active {
    background-color: red;
}

main {
    color: var(--main-text-color);
    padding-block: 15px;
    margin-top: 60px;
}

.cards-container {
    flex-wrap: wrap;
    row-gap: 30px;
    column-gap: 40px;
    align-items: start;
}

.card {
    width: 340px;
    margin-top: 5px;
    max-height: 360px;
    box-shadow: 0 0 4px #e0e7fe;
    border-radius: 6px;
    font-weight: 400;
    cursor: pointer;
    background-color: #c8c2c217;
    overflow: hidden;
    transition: all 0.2s ease;
}

.card:hover {
    box-shadow: 1px 1px 8px #f4f4f4;
    background-color: #eff3ff;
    transform: translateY(-5px);
}

.card-header img {
    width: 100%;
    height: 190px;
    object-fit: cover;
}

.card-content {
    padding: 5px;
}

#news-title {
    font-family: 'Poppins', sans-serif;
    max-height: 56px;
    overflow: hidden;
}

.news-source {
    margin-block: 10px;
    font-weight: 400;
}

#up-arrow {
    position: fixed;
    margin-top: 500px;
    margin-left: 1275px;
    scale: 4;
    cursor: pointer;
}
